<div class="row">

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color charcoal"></div>
  <div class="large-3 columns color darkash"></div>
  <div class="large-3 columns end color lightash"></div>
  <div class="large-3 columns end color gray"></div>
</div>
<div class="large-12 columns colorBlock">
  <div class="large-3 columns color lightgray"></div>
  <div class="large-3 columns color xtralightgray"></div>
  <div class="large-3 columns end color paperwhite"></div>
  <div class="large-3 columns color white"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color darkblue"></div>
  <div class="large-3 columns color paleblue"></div>
  <div class="large-3 columns color xtrapaleblue"></div>
  <div class="large-3 columns color "></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color blue"></div>
  <div class="large-3 columns color lightblue"></div>
  <div class="large-3 columns color softblue"></div>
  <div class="large-3 columns color darkblue"></div>
</div>
<div class="large-12 columns colorBlock">
  <div class="large-3 columns color red"></div>
  <div class="large-3 columns color lightred"></div>
  <div class="large-3 columns color softred"></div>
  <div class="large-3 columns color darkred"></div>
</div>
<div class="large-12 columns colorBlock">
  <div class="large-3 columns color green"></div>
  <div class="large-3 columns color lightgreen"></div>
  <div class="large-3 columns color softgreen"></div>
  <div class="large-3 columns color darkgreen"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
  <div class="large-3 columns color"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color yellow"></div>
  <div class="large-3 columns color lightyellow"></div>
  <div class="large-3 columns color softyellow"></div>
  <div class="large-3 columns color"></div>
</div>
<div class="large-12 columns colorBlock">
  <div class="large-3 columns color orange"></div>
  <div class="large-3 columns color lightorange"></div>
  <div class="large-3 columns color softorange"></div>
  <div class="large-3 columns color"></div>
</div>
<!-- <div class="large-12 columns colorBlock">
  <div class="large-3 columns color bgreen"></div>
  <div class="large-3 columns color blightgreen"></div>
  <div class="large-3 columns color "></div>
  <div class="large-3 columns color "></div>
</div>
<div class="large-12 columns colorBlock">
  <div class="large-3 columns color green"></div>
  <div class="large-3 columns color lightgreen"></div>
  <div class="large-3 columns color mediumgreen"></div>
  <div class="large-3 columns color darkgreen"></div>
</div>

<div class="large-12 columns colorBlock">
  <div class="large-3 columns color emerald"></div>
  <div class="large-3 columns color light-emerald"></div>
  <div class="large-3 columns color "></div>
  <div class="large-3 columns color "></div>
</div> -->

</div>