<div class="row">
	<div class="large-12 columns">
		<div class="right toolbar">
			<a id="newDocTrigger" class="button textOnly tiny" data-reveal-id="newDoc">Add Document</a>
			<!-- <button class="button textOnly tiny">APPROVE ALL RENEWALS</button> -->
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<table>
			<thead>
				<tr>
					<th>Document Name</th>
					<th>Description</th>
					<th class="nowrap">Last Modified</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="document in renewalDocs.documents" >
					<td>
						<span><a href={{document.url}}>{{document.filename}}</a></span>
						<span class="doctype"> [{{document.doctype}}]</span>
					</td>
					<td>
						<div class="dateCreated">{{document.dateCreated}}</div>
						<div class="createdBy">{{document.createdBy}}</div>
						<div>{{document.description}}</div>
					</td>
					<td>
						<div class="center">{{document.lastModified}}</div>
						<div class="center modifiedBy">{{document.modifiedBy}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- MODAL -->

<div id="newDoc" class="reveal-modal small" data-reveal>
	<h4>Add Document</h4>
  <div class="row">
	  <div class="large-12 medium-12 columns">
	    <input type="file" placeholder=""/>
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Document type</label>
	    <select>
	    	<option disabled selected value="">Select Document Type</option>
				<option>Renewal</option>
				<option>Price List</option>
				<option>Service Issue</option>
				<option>Invoice</option>
				<option>Purchase Order</option>
				<option>Authorization Letter</option>
	    </select>
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Date Entered</label>
	    <input type="text" class="datepicker" />
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Entered by:</label>
	    <select>
	    	<option disabled selected value="">Select CSR</option>
				<option ng-repeat="csr in csr.csr" >{{csr.firstName}} {{csr.lastName}}</option>
	    </select>
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Date Modified</label>
	    <input type="text" class="datepicker" />
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Modified by:</label>
	    <select>
	    	<option disabled selected value="">Select CSR</option>
				<option ng-repeat="csr in csr.csr" >{{csr.firstName}} {{csr.lastName}}</option>
	    </select>
	  </div>
	  <div class="large-12 medium-12 columns">
	    <label>Description</label>
	    <textarea/>
	  </div>


	</div>
	<div class="row buttonGroup">
		<button class="primary small button right">SAVE</button>
		<a class="textOnly small button right custom-close-reveal-modal">CANCEL</a>
		<a class="close-reveal-modal">&#215;</a>
	</div>
</div>




<script>
componentInit();

$(".dateCreated").prepend('Created: ');
$(".createdBy").prepend('by: ')

initDatePicker();
</script>