.boss {
  background-color: #217dbb !important;
  padding-top: 8px !important;
  width: 60px !important;
  height: 45px; }

.bossHeaderContainer {
  position: relative;
  transition: margin 1s ease; }

.bossHeader {
  background-color: #217dbb;
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 1; }
  .bossHeader .button {
    font-size: .8rem;
    height: 45px; }
  .bossHeader .bossLogo {
    background-image: url(../img/boss.svg);
    background-repeat: no-repeat;
    padding: .5rem;
    margin-top: 15px; }

.bossHeaderContainer.pushed {
  margin-top: 45px; }

.bossIcon {
  height: 28px;
  width: 28px;
  background-image: url(../img/globe.svg) !important;
  background-repeat: no-repeat !important; }
