.bossHeader {
  position: relative;
  transition: margin 1s ease; }

.bossHeaderMenu {
  background-color: #217dbb;
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%); }

.bossHeader.pushed {
  margin-top: 60px; }
