.boss {
  background-color: #217dbb !important;
  padding-top: 8px !important;
  width: 60px !important;
  height: 45px; }

.bossHeaderContainer {
  position: relative;
  transition: margin 1s ease; }

.bossHeader {
  background-color: #217dbb;
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 1; }
  .bossHeader .button {
    font-size: .8rem;
    height: 45px;
    margin: 0; }
  .bossHeader .button-group {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .bossHeader .button-group > li .button {
    border-left: none;
    border-right: 1px solid #fefefe; }
  .bossHeader .button-group > li:first-child .button {
    border-left: 1px solid #fefefe; }
  .bossHeader .bossLogo {
    background-image: url(../img/boss.svg);
    background-repeat: no-repeat;
    padding: .5rem;
    margin-top: 15px;
    margin-left: 35px; }

.bossHeaderContainer.pushed {
  margin-top: 45px; }

.bossIcon {
  height: 28px;
  width: 28px;
  background-image: url(../img/globe.svg) !important;
  background-repeat: no-repeat !important; }

.f-dropdown.form {
  max-width: 300px; }
  .f-dropdown.form li {
    cursor: default; }
    .f-dropdown.form li:hover {
      background-color: transparent; }
    .f-dropdown.form li.labelInputPair, .f-dropdown.form li.formActions {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px; }
      .f-dropdown.form li.labelInputPair input, .f-dropdown.form li.formActions input {
        margin-bottom: 0; }
    .f-dropdown.form li.formActions .button {
      margin-bottom: 15px; }

html {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%; }

.fluid.row {
  max-width: 100%; }

.button, button {
  background-color: #217dbb; }
  .button:hover, button:hover {
    background-color: #3498DB; }
