html {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%; }

.fluid.row {
  max-width: 100%; }

.button, button {
  background-color: #217dbb; }
  .button:hover, .button:focus, button:hover, button:focus {
    background-color: #3498DB; }
