

.bossHeader {
  padding: 0;
  margin: 0;
  border: 0;
  width:100%;

  a {
    display: block;
    line-height: 1em;
    text-decoration: none;
    padding: 0 20px;
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    position: relative;
    z-index: 597;

    li {
      float: left;
      // min-height: 1px;
      // vertical-align: middle;

      &.hover,
      &:hover {
        position: relative;
        z-index: 1;
        cursor: default;
      }
      &:hover > ul {
        visibility: visible;
      }
      &:hover > a,
      &.active > a {
        background: $paperwhite;
        color: #FFF;
      }
    }

    ul {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      width: 100%;
      bottom: 0;
      left: 0;
      margin-top: 0;
      min-width: 190px;

      a {
        background: $paperwhite;
        color: $charcoal;
        border: 1px solid $blue;
        border-top: 0;
        // line-height: 150%;
        padding: .75rem 1rem;
      }
      li {
        float: none;
        font-weight: normal;
        position: relative;

        &:first-child > a {
          border-top: 1px solid $green;
        }
        &:hover > a {
          background: $green;
        }
        &:last-child > a {
          border-radius: 0 0 3px 3px;
          box-shadow: 0 1px 0 #1b9bff;
        }
        &:last-child:hover > a {
          border-radius: 0 0 0 3px;
        }
      }
    }
  }
  > ul {
    *display: inline-block;
  }
  &:after, ul:after {
    content: '';
    display: block;
    clear: both;
  }
  > ul > li > a { line-height: 45px;  }
}

.bossHeaderContainer{
  position: relative;
  transition: margin 1s ease;
}

.bossHeader {
  background-color: $softblue;
  // height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 1;

  .button-group {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    float: left;
  }

  .bossLogo {
    background-image: url(../img/boss.svg);
    background-repeat: no-repeat;
    width: 110px;
    margin-top: 12px;
    margin-left: 35px;
    height: 20px;
    float: left;
  }
}

.bossHeaderContainer.pushed{
   margin-top: 45px;
}