// Project specific CSS
$foundation-link: #008CBA;

$charcoal: #323232;
$darkash: lighten( $charcoal, 20% );
$lightash: lighten( $charcoal, 40% );
$gray: lighten( $charcoal, 67% );
$lightgray: lighten( $charcoal, 74% );
$xtralightgray: lighten( $charcoal, 77% );
$paperwhite: lighten( $charcoal, 80% );
$white: #FFFFFF;

$blue: #3498DB;
$lightblue: lighten( $blue, 20%);
$softblue: darken( $blue, 10%);
$darkblue: darken( $blue, 18%);

$paleblue: lighten( $darkblue, 50% ); // table row hover / content block bg
$xtrapaleblue: lighten( $darkblue, 60% ); // table row highlight

$red: #BF4040;
$softred: lighten( $red, 10% );
$lightred: lighten( $red, 35%);
$darkred: darken( $red, 5% );

$green: #43AC6A;;
$lightgreen: #BEDDB1;
$softgreen: darken( $lightgreen, 15% );
$darkgreen: desaturate( $green, 20% );

$yellow: #ffff66;
$lightyellow: lighten( $yellow, 15% );
$softyellow: desaturate( $yellow, 20% );

$orange: #FF6700;
$lightorange: lighten( $orange, 30% );
$softorange: desaturate( $orange, 30% );


$main-font-size: 16px;


@import 'header';

html {
  font-size: $main-font-size;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.fluid.row { max-width: 100% }
.button, button {
  background-color: $softblue;
  font-size: .8rem;
  height: 45px;
  margin: 0;

  &:hover, &:focus {
    background-color: $red;
  }
}
li .button {
    border-left: none;
    border-right: 1px solid $paperwhite;
  }
  li:first-child .button {
    border-left: 1px solid $paperwhite;
  }


